<% include ../partials/header.ejs %>

<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">    

    <% tutorialsData.categories.forEach(function(category) { %>
        <h6>
            <a data-toggle="collapse" href="#<%= category.name %>Links" aria-expanded="false" aria-controls="<%= category.name %>Links">
                <%= category.displayName %>
            </a>
        </h6>        
        <div class="collapse show" id="<%= category.name %>Links">
            <ul class="nav nav-pills flex-column">
                <% tutorialsData.tutorials.filter(t => t.category == category.name).forEach(function(tutorial) { %>            
                    <li class="nav-item">
                        <a class="nav-link" href='../tutorials/<%= tutorial.name %>'><%= tutorial.displayName %></a>
                    </li>
                <% }); %>
            </ul>
        </div>        

    <% }); %>

</nav>

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    
    <% include ../tutorials/tutorial.ejs %>

</main>

<% include ../partials/footer.ejs %>